---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Writing" canonicalPath="/writing/">
  <meta http-equiv="refresh" content="0;url=/writing/" />
  <section class="not-found shell"><div><p>The blog is now Writing.</p><a class="button button--primary" href="/writing/">Continue to Writing</a></div></section>
  <script>window.location.replace("/writing/");</script>
</BaseLayout>
